<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd"
>
<configuration>
	
	<properties resource="config/config.properties"/>
	
	<!-- JDBC 설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- mapper 파일 -->
		
		<!--  main -->
		<mapper resource= "./mybatis/sb_mybatis.xml"/>
		<!-- membership -->
		   <mapper resource="./membership_mybatis/membership.xml"/>
		
		<!-- mypage -->
		<mapper resource="mypage_mybatis/mp_mybatis.xml"/>
		
		<!-- admin -->
		<mapper resource="adSuper_mybatis/adSuper_mybatis.xml"/>
		
		<!-- detailView -->
		<mapper resource="detailview_mybatis/detailview_mybatis.xml"/>
	</mappers>

</configuration>