@charset "UTF-8";

.min-width-180 {
	
	min-width:180px;
	font-size:15px;
	
}

#codeCheck {
	
	
	display:none;
	
}



.min-width-350 {
	
		min-width:350px;
	font-size:25px;
	
}

.photel {
	
	    background-color: #55a3ede8;
    color: white;
    padding-top: 8px;
}