/*
작성자 : 안주현
mypage css
*/

/* my-social css */
.post-wrapper strong {
  font-weight: 550;
}

.profile {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background: #ffffff;
  margin-top: -100px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #eee;
  padding-bottom: 0;
  height: 22vh;
}
body {
  background: #f9f9ff;
}
.profile-image {
  width: 120px;
  height: 120px;
}

#pro-nick{
  cursor:pointer;
}

#member_photo {
  display: none;
}

#mp-btnModifyProfile{
	color:#000;
	opacity:0.8;
}

#mp-btnModifyProfile:hover{
	text-decoration:underline;
}

.profile-menu a:hover,
.profile-menu a.on {
  border-bottom: 2px solid #1c5e9a;
  font-weight: 1000;
}

.profile-menu a {
  transition: none;
  font-size: 17px;
  color: #000000;
  margin-right: 8px;
}

.profile-nickname {
  color: rgb(148, 148, 148);
  font-size: 16px;
  margin-bottom: 10px;
}

#mp-btnFollow:focus{
  	    outline:none !important;
}

.btn-follow::after{
	content:'+ follow';
}

.btn-follow{
	color: #3399FF;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #3399FF;
  border-radius: 3px;
  width: 85px;
  height: 30px;
  cursor: hand;
  outline: none;	
	
}



.btn-following::after{
	content:'following';
}

.btn-following{
	color:#FFF;
	background : #2B96ED;
	border:#2B96ED 1px solid;
	border-radius: 3px;
	width: 95px;
	height:30px;
	outline:none;
	font-size :10pt;
	font-family: "Helvetica";
	
	
}


.give-a-space {
  height: 20px;
}

.profile-detail {
  padding-bottom: 20px !important;
  cursor: pointer;
}

.profile-detail li:hover,
p:hover {
  color: black;
}

.profile-detail a {
  color: #777777;
}

.profile-detail li,
p {
  margin-bottom: 10px;
  text-align: left;
}

.profile-detail li i {
  font-size: 1.1rem;
  color: black;
}

.profile-detail li span {
  margin-left: 0.5rem;
}

.posting-list .posting-title h3 {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.posting-list .posting-title h3:hover {
  color: #f8b600;
}

.posts-list {
  background: #ffffff;
  border: 1px solid #eee;
  padding: 5px 30px;
  margin-bottom: 15px;
}

.posts-review {
  background: #ffffff;
  border: 1px solid #eee;
  padding: 5px 30px;
  height: auto;
  margin-bottom: 15px;
}

.profile-widget .widget-wrap {
  background: #ffffff;
}

.posting-title {
  padding: 10px;
  width: 100%;
}

.add-trip {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.posting-profile {
  width: 60px;
  height: 60px;
}

.travel-box {
  zoom: 1;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  background-color: #fff;
  width: 215px;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  float: left;
}

.post-img {
  width: 90%;
}

.post-img-pa {
  overflow: hidden;
  height: 20.5rem;
}

.pro-img-back {
  background: rgb(42, 42, 42);
  position: absolute;
  top: 0;
  opacity: 0;
  line-height: 120px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.pro-img-back:hover {
  opacity: 0.5;
}

.pro-modify-img:hover {
  background-color: #555555;
  opacity: 0.5;
}

.travel-box img {
  background-size: cover;
  border-radius: 0px;
  height: 65px;
  width: 65px;
}

.item-list-wrapper.swiper-container {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.trip-slide .swiper-button-next {
  color: #000;
  opacity: 0.3;
  right: 10px;
  top: 70%;
}

.trip-slide .swiper-button-prev {
  color: #000;
  opacity: 0.3;
  left: 10px;
  top: 70%;
}

.trip-slide .swiper-button-next:hover,
.trip-slide .swiper-button-prev:hover {
  opacity: 0.5;
}

.travel-item-list.swiper-wrapper {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transition-property: transform;
}

/* 포스팅 아래 "좋아요", 공유버튼*/
.post-bottom-bar > span {
  margin-left: 15px;
  padding: 3px;
  box-sizing: border-box;
}

.post-bottom-bar i {
  color: #000;
}

.ellipsis-btn {
  text-align: right;
  float: right;
  position: relative;
  right: -46px;
  cursor: pointer;
  z-index: 3;
  width: 50px;
}

.ellipsis-btn img {
  opacity: 0.7;
}

.ellipsis-menu {
  position: absolute;
  width: auto !important;
  height: 35px;
  padding: 0 15px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  line-height: 35px;
  vertical-align: middle;
  right: -17px;
  top: 36px;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.ellipsis-menu:before {
  content: "";
  position: absolute;
  left: 23px;
  top: -42px;
  z-index: 2;
  width: 15px;
  height: 41px;
  border-bottom: solid 11px #c1c1c1;
  border-left: solid 11px transparent;
  border-right: solid 12px transparent;
}

.ellipsis-menu:after {
  content: "";
  position: absolute;
  left: 24px;
  top: -41px;
  z-index: 2;
  width: 15px;
  height: 41px;
  border-bottom: solid 10px white;
  border-left: solid 10px transparent;
  border-right: solid 11px transparent;
}

/* social : 도움이 됐어요, 공유하기*/
.social-like,
.social-share,
.social-save {
  cursor: pointer;
}

.social-like i.on {
  color: #007bff;
  transition: all 0.3s ease 0s;
}

/* social -> 프로필 수정 modal */
#mp-proModifyFrm > div {
  border: solid 1px #eee;
}
#mp-proModifyFrm > label {
  font-weight: 550;
}

/* trip_list */
#mpPrivacyFilter span{
	font-size:15px;
	font-weight:400;
	cursor:pointer;
}

#mpPrivacyFilter span:hover{
	color:#000;
}

.my-list-area .single-destinations {
  border: none;
}

.trip-list-box {
  padding: 10px;
  background: #eee;
  border-radius: 3px;
  cursor: pointer;
}

.thumb-custom {
  overflow: hidden;
  background: #e0e0e0;
  height: 13rem;
  line-height: 13rem;
}

.mp-trip-modify-btn{
  font-weight: 400;
}

.mp-trip-modify-btn .mp-trip-modify, 
.mp-trip-modify-btn .mp-trip-delete{
	cursor:pointer;
}

.mp-trip-modify-btn .mp-trip-modify:hover, 
.mp-trip-modify-btn .mp-trip-delete:hover{
	color:black;
} 

.thumb-custom img {
  width: 100%;
}

.thumb-review {
  overflow: hidden;
  height: 8rem;
}

.thumb-review img {
  width: 100%;
  height: auto;
}

.single-destinations {
  margin-bottom: 2rem;
}

.destinations-area {
  background: transparent;
}

.list-container {
  height: 20rem;
  border: 1px solid #eee;
  background: #ffffff;
  overflow: hidden;
}

.list-container p {
  margin-bottom: 0;
}

.add-new-container {
  width: 100%;
  text-align: center;
  line-height: 20rem;
  cursor: pointer;
  opacity: 0.7;
}

.add-new-container h3 {
  display: inline-block;
}

.add-new-container:hover {
  opacity: 1;
}

/* 새 여행 추가하기 모달창 */

.privacy-circle {
  bottom:129px;
  left:22px;
  border: 2px double #fff;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  line-height: 2rem;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 50% !important;
  color: #fff;
  background: #000;
}

.privacy-option {
  padding: 5px;
}

.privacy-option h6 {
  display: inline-block;
}

.trip_name {
  border: none;
  outline: none;
  border-bottom: 0.1rem solid rgb(133, 132, 132);
  text-align: center;
  width: 100%;
  padding: 0.6rem;
}

.trip_name::placeholder {
  font-size: 1rem;
  color: #555555;
  font-weight: 400;
  opacity: 0.7;
}

.trip-day-input input::placeholder {
  text-align: right;
}

/* 여행 커스터마이징 페이지 */
.edit-trip-input {
  outline: none;
  border: none;
  border-bottom: 2px black solid;
  background: transparent;
  width: 50%;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
}

.edit-trip {
  background: #ffffff;
  border: 1px solid #eee;
  padding: 20px;
}

.edit-trip-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 20px;
  font-weight: 400;
  color: #777777;
  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #777777;
  opacity: 0.8; /* Firefox */
}

::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 600;
  color: #777777;
  opacity: 0.8; /* Firefox */
}

.btn-edit {
  outline: none;
  background: transparent;
  border-radius: 4px;
  border: none;
  font-size: 20px;
}

#map {
  border: 1px solid #eee;
}

.add-from-like div {
  border: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.add-from-like input {
  padding: 0px;
  width: 30px;
  margin-left: 5px;
}

.edit-plan {
  border: 1px solid #eee;
  padding: 50px 20px;
  margin-top: 50px;
}

.plan-container {
  padding: 2% 10% 2% 10%;
  background: rgb(243, 240, 240);
  border-radius: 4px;
  margin: 1px;
}

/* edit-trip2 (test2) */

.my-main-map {
  width: 100%;
  height: 100%;
}

.my-main-wrapper {
  display: flex;
  width: 100%;
  height: 92.8vh;
}

.my-main-side {
  background: #203341;
  max-height: 100%;
}

.date-box {
  width: 100%;
  background: #203341;
}

.date-box div {
  width: 100%;
  line-height: 3em;
  background: #203341;
  color: #fff;
  text-align: center;
  border-bottom: solid 1px #374854;
  font-size: 1em;
  cursor: pointer;
}

.plan-category {
  width: 100%;
  max-height: 54vh;
  overflow-y: auto;
}

.plan-category li {
  width: 100%;
  height: 75px;
  color: #fff;
  text-align: center;
  border-bottom: solid 1px #374854;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  padding-top: 15px;
  justify-content: center;
  http: ; //localhost:8888/1907-spring/mypage/custom-image/sign.png
}

.plan-category li.on,
.show-all-day.on {
  background: #1a7ad9;
}

.plan-category li:not(.on):hover,
.show-all-day:not(.on):hover {
  background: #164c88;
}

.show-all-day {
  font-size: 1.2em !important;
  font-weight: 530;
  padding: 10px;
}

.cat-date-left-box {
  padding-right: 10px;
}

.cat-left-day {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cat-left-date {
  color: #49b2e9;
  font-size: 11px;
}

.cat-right-weekday {
  padding-bottom: 4px;
  text-align: left !important;
}
.cat-right-city {
  color: #b3b3b3;
  text-align: left !important;
}

.cat-add-box {
  width: 160px;
  background: rgb(32, 51, 65);
  color: rgb(255, 255, 255);
  padding: 30px 0;
  position: sticky;
  bottom: 0;
}

.cat-add-box div {
  width: 124px;
  height: 32px;
  line-height: 32px;
  border: solid 1px #fff;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}

.title-box {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  background: #707070;
  color: #fff;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 10px;
  border-bottom: #a1a1a1 1px solid;
}

.title-box #default-select .nice-select {
  background: transparent;
  line-height: 45px;
}

.title-box .list {
  background: #164c88;
  margin-top: 9px !important;
}

/* depth1 */

.schedule-detail-box {
  width: 280px;
  height: 100%;
  border-right: solid #a9a9a9 1px;
}

#schedule-detail-list {
  margin-bottom: 25px;
  display: block;
}

.schedule_detail_title_text {
  width: 245px;
  padding-left: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.trip-box {
  padding-bottom: 20px;
}

.inspot-add-box {
  border-top: solid #a7a7a7 1px;
  padding-top: 10px;
  height: 49px;
}

.add-inspot-spot-btn {
  width: 104px;
  height: 30px;
  background: #555555;
  border: solid #3b3b3b 1px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-left: 25px;
  cursor: pointer;
}

.add-inspot-trans-btn {
  width: 104px;
  height: 30px;
  background: #ff9320;
  border: solid #f7870f 1px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}

.day-spot-item {
  padding: 15px;
  width: 100%;
  border-bottom: solid #a7a7a7 1px;
  background: #fff;
  position: relative;
  display: flex;
}

.day-spot-item:hover {
  background: #f7f7f7;
}

.item-ctrl-box {
  position: absolute;
  right: 12px;
  opacity: 0.3;
  width: 15%;
  cursor: pointer;
  z-index: 10;
}

.item-ctrl-box:hover {
  opacity: 0.5;
}

.item-ctrl-box div {
  margin-right: 3px;
}

.img-box img {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.spot-order-box {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  position: absolute;
  left: -3px;
  top: -3px;
  background: #223b68;
  line-height: 19px;
  text-align: center;
  color: white;
  font-size: 10px;
  z-index: 1;
}

.info-box {
  padding-left: 10px;
  width: 153px;
}

.day-spot-item .img-box {
  width: 80px;
  height: 65px;
  position: relative;
  cursor: pointer;
}

.info-title {
  font-weight: 550;
}

.spot-distance-box {
  line-height: 1.5em;
  background: #fff;
  border: solid #cacaca 1px;
  font-size: 0.8em;
  color: #808080;
  position: absolute;
  padding: 0px 5px;
  margin-top: 70px;
  z-index: 1;
  left: 100px;
}

#right-full-box {
  z-index: 3;
  width: 295px;
  height: 100%;
  border-right: solid #a9a9a9 1px;
}

.list-title-option-menu {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
  width: 76px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: solid 1px #fff;
  background: url(/res/img/workspace/w_arrow_down.png) no-repeat 62px 10px;
}

.list-search-box,
.list-search-box-small {
  border-bottom: solid #dadada 1px;
  padding-top: 10px;
  background: #fff;
  text-align: center;
}

.list-search-box-small {
  border: 1px solid #dadada;
  position: absolute;
  top: 85px;
  right: 15px;
  display: none;
  z-index: 3;
}

#daytrip-search {
  width: 300px;
  height: 31px;
  border: solid #c8c8ca 1px;
  padding-left: 5px;
  font-family: "nanum";
  background-position: 300px 4px;
  margin: 0 15px;
}

.list-category-box {
  background: #f7f7f7;
  height: 78px;
  display: flex;
  justify-content: center;
}

.list-cat-item {
  margin: 0 8px;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(182, 181, 181);
  width: 4em;
  height: 4em;
}

/* 아이콘 클릭됐을 때 */
.list-cat-item.on {
  color: #ff9320;
  border-color: #ff9320;
}

.list-cat-item.on svg {
  color: #ff9320 !important;
}

.list-cat-item img {
  width: 100%;
  height: 100%;
}

#map-tag-select-box {
  width: 318px;
  height: 31px;
  border: solid #c8c8ca 1px;
  background: #fff url(/res/img/flight/drop_select_arrow_a.png) no-repeat 300px 12px;
  line-height: 31px;
  margin: 0 auto;
  margin-top: 5px;
  padding-left: 5px;
  font-size: 13px;
  color: #808080;
  cursor: pointer;
}

.custom-radio {
  border: 1px solid #8b8b8b;
}

.search-cat-icon {
  width: 100%;
  height: 100%;
  font-size: 2.3em;
}

.list-category-wrapper {
  background: #f7f7f7;
  height: 75px;
}

.list-box {
  border-top: 1px solid #dadada;
  max-height: 100%;
  overflow-y: scroll;
  background: #fff;
}

.spot-to-inspot i {
  font-size: 2.5em;
}

.add-icon {
  width: 35px;
  padding-top: 10px;
  cursor: pointer;
  opacity: 0.3;
}

.add-icon:hover {
  opacity: 0.5;
}

.info-small {
  margin-top: -3px;
}

.like-cnt-info {
  font-size: 14px;
}

#on-city-close-btn,
#on-city-open-btn {
  opacity: 0.8;
  width: 40px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  outline: none;
  border: none;
  background: #373737;
  color: #fff;
}

#on-city-close-btn:hover,
#on-city-open-btn:hover {
  opacity: 0.9;
}

#on-city-close-btn {
  left: 294px;
}

#on-city-open-btn {
  left: 255px;
  top: -50px;
  z-index: 2;
}

.trip-detail-added {
  display: none;
}

.toggle-on {
  display: none;
  border: none;
  background: transparent;
  width: 40px;
}

.toggle-on:focus {
  outline: none;
}

.toggle-on h4 {
  color: #ffffff;
  opacity: 0.5;
}

.toggle-on h4:hover {
  opacity: 1;
}

.btn-del {
  width: 15px;
}

#trip-save-btn {
  background: #1a7ad9;
  border: none;
}

input[name="searchPlace"] {
  height: 2em;
}

input[name="searchPlace"]::placeholder {
  font-size: 1em;
}

.search-append {
  height: 2.3em;
}

#sel1 {
  width: 90%;
  height: 2em;
  font-size: 1em;
  color: #777;
  padding-top: 0px;
  padding-bottom: 0px;
}

.list-search-box button {
  padding-top: 4px;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0 0.25rem 0.25rem 0;
  width: 2.7em;
}

/* my_page.jsp */
.mp-border-wrapper {
  background: #ffffff;
  padding: 20px 0px;
}

.mp-side-li {
  border-top: 1px solid #e9ecef;
  display: block;
  height: 60px;
  line-height: 60px;
  position: relative;
  padding: 0 2rem;
  font-size: 16px;
  cursor: pointer;
  z-index: 3;
}

.mp-side-li.on {
  border-left: 4px solid #51abf3;
  color: #343a40;
  font-weight: bold;
  padding: 0 32px 0 28px;
}

.mp-li-text {
  color: #343a40;
  display: inline-block;
}

.mp-side-li.on .mp-li-cnt {
  background-color: #51abf3;
  color: #fff;
  border-radius: 2px;
  line-height: 19px;
  height: 19px;
  margin: 21px 0;
  position: absolute;
  right: 36px;
  text-align: center;
  width: auto;
  padding: 0 4px;
  font-weight: lighter;
}

.mp-li-cnt {
  display: inline-block;
  border-radius: 2px;
  line-height: 19px;
  height: 19px;
  margin: 21px 0;
  position: absolute;
  right: 36px;
  text-align: center;
  width: auto;
  padding: 0 4px;
}

.mp-body-single {
  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 15px;
  padding: 1rem 1.8rem 1rem 1.8rem;
  height: 100%;
}

.mp-img {
  width: 26%;
  height: 24vh;
  overflow: hidden;
  padding: 0;
}

.mp-img img {
  width: 100%;
}

.mp-inner {
  padding: 0 0.6rem;
  color: #343a40;
}

.mp-inner i {
  font-size: 20px;
  line-height: 28px;
}

.mp-hotel-name {
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.mp-hotel-no {
  font-size: 1rem;
  line-height: 2rem;
}
.mp-hotel-desc {
  font-size: 1rem;
  line-height: 1rem;
}

.mp-hotel-no span {
  font-weight: 450;
}

.mp-hotel-price {
  font-size: 1.5rem;
  font-weight: 550;
  position: absolute;
  bottom: -4px;
  right: 32px;
  color: #343a40;
}

.mp-hotel-date-in,
.mp-hotel-date-out {
  color: #343a40;
  font-size: 17px;
  font-weight: bold;
}


/*review 작성하러 가기 */
#mp-btnGoReview{
	position:absolute;
	right:0;
	top:9px;
}

/* trip customizing map */
.dot {
  overflow: hidden;
  float: left;
  width: 12px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png");
}
.dotOverlay {
  position: relative;
  bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
  font-size: 12px;
  padding: 5px;
  background: #fff;
}
.dotOverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.number {
  font-weight: bold;
  color: #ee6152;
}
.dotOverlay:after {
  content: "";
  position: absolute;
  margin-left: -6px;
  left: 50%;
  bottom: -8px;
  width: 11px;
  height: 8px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png");
}
.distanceInfo {
  position: relative;
  top: 5px;
  left: 5px;
  list-style: none;
  margin: 0;
}
.distanceInfo .label {
  display: inline-block;
  width: 50px;
}
.distanceInfo:after {
  content: none;
}

/* trip customizing media query*/
@media (max-width: 1200px) {
  .posts-list {
    /*height: 41.8rem;*/
  }
}

@media (max-width: 1100px) {
  .list-search-box-small {
    display: block;
  }
  #right-full-box {
    display: none !important;
  }
  #on-city-open-btn {
    display: none;
  }
  .posts-list {
    /*height: 41.5rem;*/
  }
}

@media (max-width: 991px) {
  .my-main-side {
    display: none;
  }
  .schedule-detail-box {
    display: block !important;
  }
  .trip-detail-added {
    display: block;
  }
  .toggle-on {
    display: block;
  }

  .thumb-custom {
    height: 20rem;
    line-height: 20rem;
  }

  .thumb-review {
    height: 15rem;
  }

  .add-new-trip {
    display: none;
  }

  .list-container {
    height: 27rem;
  }

  #addTripBtn {
    display: inline-block !important;
  }

  .profile-widget .widget-wrap {
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 1.2rem;
  }

  .profile-widget {
    padding-right: 0;
  }

  .posts-list {
    /*eight: 88.5vh;*/
  }
}

/* ipad 크기 */
@media (max-width: 769px) {
  .my-main-wrapper {
    flex-direction: column;
  }

  #map {
    order: 1;
  }
  .schedule-detail-box {
    order: 2;
    width: 100%;
    height: 45%;
  }

  .list-search-box-small {
    order: 3;
  }

  .posting-title span {
    width: 10%;
  }

  .posting-title > div {
    width: 90%;
  }
}

@media (max-width:640px){
	  .col-74{
  width:100%;
  }
  
  #mp-btnGoReview{
  	font-size:11px;
  }
}

@media (max-width: 576px) {
  .follow-status span {
    width: 30%;
  }

  .profile-menu .navbar-nav {
    flex-direction: row !important;
  }

  .profile-menu .navbar-nav li {
    padding-right: 2rem;
  }

  .posting-title span {
    width: 15%;
  }

  .posting-title > div {
    width: 85%;
  }

  .post-img-pa {
    height: 16rem;
  }
  .profile {
    height: 25.5vh;
  }

  .follow-status div {
    width: 33%;
  }
  
  #mp-btnModifyProfile{
  	display:none !important;
  }
  
  .mp-img{
    width: 100%;
    height: 53vh;
    overflow: hidden;
    padding: 30px;
   }
}

@media (max-width: 455px) {
  .button-container {
    padding: 1.5rem 0;
  }
  .button-container button {
    font-size: 0.8rem;
  }
  .thumb-custom {
    height: 14rem;
    line-height: 14rem;
  }
  .list-container {
    height: 21rem;
  }

  .posting-title span {
    width: 20%;
  }

  .posting-title > div {
    width: 80%;
  }
  .post-img-pa {
    height: 13rem;
  }
  
  .mp-img{
  	height:40vh;
  	padding:3px;
  }
  
}
